body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    margin-top: 20%;
}

h1 {
    font-size: 60px;
}

.pagination {
    margin-top: 40px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 8px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}